Inyección de Dependencias (Dependency Injection o DI) es un patrón de diseño en el que una clase requiere instancias de una o más clases y en vez de generarlas dentro de su propio constructor, las recibe ya instanciadas por un mecanismo externo.
En Angular esto significa que podemos requerir servicios u objetos que alguna de nuestras clases necesita, ya sean componentes, directivas o servicios, sin la necesidad de instanciar dichas dependencias nosotros mismos.

1) Definimos nuestro clase (servicio).
2) registrarmos nuestro injector.
3) lo declaramos como una dependencia en una lista de nuestro componente por ejemplo.

<h1>Dependency Injection</h1>