<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Inicio</a> 
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="hello-world">Hello World</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="components">Components</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="interpolation">Interpolation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="property-binding">Property Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="class-binding">Class Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="style-binding">Style Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="event-binding">Event Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="template-reference-variables">Template Reference Variables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="two-way-binding">Two Way Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="ngif-directive">ngIf Directive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="ngswitch-directive">ngSwitch Directive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="ngfor-directive">ngFor Directive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="component-interaction">Component Interaction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pipes">Pipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="dependency-injection">Dependency Injection</a>
        </li>
      </ul>
    </div>
  </nav>

  