<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Inicio</a> 
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="hello-world">Hello World</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="components">Components</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="interpolation">Interpolation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="property-binding">Property Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="class-binding">Class Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="style-binding">Style Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="event-binding">Event Binding</a>
        </li>
      </ul>
    </div>
  </nav>