Property Binding es una tecnica con la cual puedes unir valores a propiedades de los elementos de un HTML
cuando realizamos la union de propiedad de un valor estamos haciendo la union con el DOM (Document Objetc Model) y podemos hacer que las propiedades en vez de ser hardcode puedan ser dinamicas.

1) crearemos la variable publica estado (boleano) y la iniciaremos en false.
2) crearemos un input en el html y dentro usamos la propiedad "disabled".
3) vamos a encerrar "disabled" en [] para poder enlazar nuestra variable boleana (estado) y asi dinamicamente pasar el estado quedando "[disabled] = false".
4) crearemos una variable llamada "buttonName" = habilitado.
5) crearemos un boton en la vista HTML y usando la interpolacion le pasamos el nombre dinamico a nuestro boton.
6) creamos un metodo el cual valide la variable boleana "estado" y  la cambie de true a false y vice versa para habilitar o deshabilitar nuestro input dinaicamente.

<input [id]="myId" type="text" value="Textbox habilitado">
<input [disabled]="estado" [id]="myId" type="text" value="Textbox deshabilitado por property binding">

<button (click)="Habilitar()">
    {{buttonName}}
</button>