<p>
Definicion: Los componentes en angular son como pequeñas partes de nuestra aplicacion, el componente sera un bloque que contiene un template compuesto por (Vista(HTML), Logica(TS) y Estilos(Css)), estos componentes se declaran y luego pueden ser llamados para utilizarse. 

1) Creare 1 componente llamado "components" que fungira como el padre.
2) Luego creare 3 componenetes (componente1, componente2, componente3) que seran hijos del componente padre
3) Los componentes hijos se mostraran dentro del padre.
</p>


<app-componente1></app-componente1>

<app-componente2></app-componente2>

<app-componente3></app-componente3>

