Un Servicio en Angular es una clase con una funcion especifica, es el mecanismo para compartir funcionalidad entre componentes, usar un servicio es una buena practica y es la recomendación debido a su mantenibilidad.

se pueden usar para manejar informacion.
tambien se pueden usar para crear metodos que sea accedidos de nuestros componentes.

1) primero creamos el servicio.
2) luego creamos nuestros metodos que pueden tener el objeto con los datos.
3) creamos un array vacio en el componente que recibira los datos.
Nota: solo queda registrar nuetro injector para que asi podamos usar nuestro servicio hay que tener pendiente que dependiendo de donde se injecte lo usaran los componentes hijos por ende si queremos usarlo en toda la aplicacion el mejor lugar jerarquicamente hablando es el "appModule".
4) agregamos nuestro servicio en el array "providers" colocando el nombre del servicio.
5) importamos nuestro servicio en la cabezera del documento TS.
6) dentro del constructor del componente donde usaremos nuestro servicio escribimos  una variable de la siguiente forma: (private nombreServicio: NombreServicio) que instanciara nuestro servicio.
7) Importamos nuestro servicio en la cabezera del cocumento TS.
8) podemos utilizar nuestro metodo ngOnInit para optener la informacion desde que inicie el componente y quedararia de la siguiente forma this.nuestraVariable = this.nuestroServicio.nuestroMetodoDelServicio();.
9) en nuestra vista podemos interpolar nuestro objeto utilizando la directiva *ngFor.
<h1>Servicios</h1>

<div *ngFor="let empleado of empleados">
    <li>{{ empleado.nombre }}</li>
</div>
